html {
  box-sizing: border-box;
  min-height: 100%;
}

@media only screen and (min-wdith 768px) {
  body {
    grid-template-columns: 10px 20px;
    grid-template-rows: 30px auto 30px;
    grid-template-areas: 
      "nav nav"
      "aside main"
      "footer footer";

  }
  
}
body {
  background-color: #EFF6E0;
  margin: 0;
  display: grid;
  align-items: stretch;
  min-height: 100vh;
  grid-template-columns:  1fr 1fr 1fr;
  grid-template-rows: 80px auto 80px;
  column-gap: 10px;
  row-gap: 15px;
  justify-items: center;
  justify-content: space-between;
  align-content: space-around;
  grid-template-areas: 
  "nav nav nav"
  "aside main rside"
  "footer footer footer";
  }

nav {
  background-color: bisque;
  display: flex;
  height: 10;
  flex-direction: row;
  align-items:stretch;
  justify-content: flex-end;
  
  grid-area: nav;
  gap: 0 20px;
  
}

.list-container {
  grid-area: aside;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 75%;
  background-color: #AEC3B0;
}
ul {
  list-style-type: none;
  background-color: none;
  
  
  
}
.social-icons {
  font-size: 150px;
  text-decoration: none;
  align-items: center;
  color: #01161E;
  height: 100px;
  line-height: 100px;
  justify-self: stretch;
  grid-column: 1;
  grid-row: 2/3;
  gap: 0 10px;
  padding: 145px;
  max-width: 70px;
  
  

}
.social-icons:hover {
  color: #EFF6E0
}

main { 
  background-color: #AEC3B0;
  grid-column: 2;
  grid-row: 2/3;

}

main > img {
  size-adjust: 50px;
  grid-column: 1;
  grid-row: 1;
  margin: auto;
  display: flex;
	align-items: center;
	justify-content: center
}

#bottomb {
  outline: 3px solid green;
}





