body {
  display: grid;
  grid-template-columns: 10% 40% 20%;
  grid-template-rows: auto;
  grid-template-areas: 
  "nav nav nav"
  "aside main rside"
  "footer footer footer";
}
nav {
  
}
aside {
  display: grid;
  grid-template-columns: (3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 3/3;
  grid-row: 3;
}
.two{
  grid-column: 2;
  grid-row: 6;
}