html {
  box-sizing: border-box;
}

@media only screen and (min-wdith 700px) {
  body {
    grid-template-columns: 10px 20px;
    grid-template-rows: 30px auto 30px;
    grid-template-areas: 
      "nav nav"
      "aside main"
      "footer footer";

  }
  
}
body {
  --body-bg: #EFF6E0;
  --about-me: #AEC3B0;
  --inverted-btn-text-color: #eaeaea;
  --light-dark-btn-bg: #1d1e2b;
  --light-dark-btn-content: "Dark Mode";
  --btn-text-color:#2a2a2a;

  background-color: var(--body-bg);
  margin: 0;
  display: grid;
  align-items: stretch;
  min-height: 100vh;
  grid-template-columns:  1fr 1fr 1fr;
  grid-template-rows: 80px auto 80px auto;
  column-gap: 10px;
  row-gap: 15px;
  justify-items: center;
  justify-content: space-between;
  align-content: space-around;
  grid-template-areas: 
  "nav nav nav"
  "aside main rside"
  "footer footer footer";
  }

  body.dark {
    --body-bg: #AEC3B0;
    --about-me: #EFF6E0;
    --inverted-btn-text-color: #2a2a2a;
    --light-dark-btn-bg: white;
    --light-dark-btn-content: "Light Mode";
    --btn-text-color:#eaeaea;
  }

nav {
  background-color: bisque;
  display: flex;
  height: 10;
  flex-direction: row;
  align-items:stretch;
  justify-content: flex-end;
  grid-area: nav;
  gap: 0 20px;
  
}

.list-container {
  grid-area: aside;
  display: flex;
  justify-content: space-evenly;
  align-items: column;
  height: 100%;
  width: 75%;
  background-color: var(--about-me);
}
.skills {
  display: flexbox;
  justify-content: space-evenly;
  align-items: center;
  width: 75%;
  font-size: 150px;
  background-color: var(--about-me);
  padding: 10%;
}
#card-container {
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-column: 2;
  

  padding: 20px 20px;
  gap: 10%;
  
}
ul {
  list-style-type: none;
  background-color: none;
  
  
  
}
.social-icons {
  display: flexbox;
  font-size: 150px;
  text-decoration: none;
  text-align: left;
  color: #01161E;
  padding: 30%;
  height: 100%;
  width: 100%;
  
 
  
  
 
  
  
  

}
 

.social-icons:hover {
  color: #EFF6E0
}

main { 
  background-color: var(--about-me);
  grid-column: 2;
  grid-row: 2/3;
  padding: 100px;

}

main > img {
  size-adjust: 50px;
  grid-column: 1;
  grid-row: 1;
  margin: auto;
  display: flex;
	align-items: center;
	justify-content: center
}

.buttonb {
  border-radius: 0px;
  max-height: 50px;
  max-width: 50px;
  display: flex;
  position: relative;
 
}

#light-dark-button {
  background-color: var(--light-dark-btn-bg);
  background-image: var(--light-dark-btn-bg);
}

#light-dark-button::after {
  border: none;
  color: var(--inverted-btn-text-color);
  content: var(--light-dark-btn-content);
}




